[flake8]
max-attributes = 8
max-line-length = 120
max-line-complexity = 15
max-local-variables = 6
max-module-members = 5
max-methods = 10
max-string-usages = 5
exclude =
    # No need to traverse git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # Virtual env directory
    .venv,
extend-ignore =
    # whitespace before ':'
    E203,
    # line break before binary operator
    W503,
ignore =
    # module level import not at top of file
    E402,