# Not app-specific settings
CERRRBOT_DEBUG=True
CERRRBOT_HTTP_SCHEME=http
CERRRBOT_LOGGING_LEVEL=INFO

## Telegram API server
CERRRBOT_TG_API_ID=<your-api-id>      # https://core.telegram.org/api/obtaining_api_id
CERRRBOT_TG_API_HASH=<your-api-hash>  # https://core.telegram.org/api/obtaining_api_id

CERRRBOT_TG_API_SERVER_HOST=tg-api-server-host
CERRRBOT_TG_API_SERVER_PORT=8081
CERRRBOT_TG_API_SERVER_WORK_DIR=/var/lib/telegram-bot-api   # Do not change (!)

## Webhook server settings
CERRRBOT_WEBHOOK_SCHEME=http                # http could be used only with local TG API server
CERRRBOT_WEBHOOK_HOST=172.17.0.1            # for local TG API server could be any
CERRRBOT_WEBHOOK_PORT=9083                  # for local TG API server could be any
CERRRBOT_WEBHOOK_ENDPOINT=/webhook          # for local TG API server could be any
CERRRBOT_WEBHOOK_APP_HOST=0.0.0.0           # web app host, can be left as is
CERRRBOT_WEBHOOK_APP_PORT=9083              # web app port, should be same as CERRROT_WEBHOOK_PORT, can be left as is
CERRRBOT_WEBHOOK_SECRET=<any-secret-string>

# Base app settings
CERRRBOT_TOKEN="your:bot-token"
CERRRBOT_DATA_ROOT=./appdata
CERRRBOT_ALLOWED_USERS="user_id1, user_id2"
CERRRBOT_CUSTOM_MESSAGE_MIN_ORDER=100

## Timeouts
CERRRBOT_DELETE_TIMEOUT_1=15
CERRRBOT_DELETE_TIMEOUT_2=30
CERRRBOT_DELETE_TIMEOUT_3=45
CERRRBOT_TIMEOUT_BEFORE_DEFAULT_ACTION_PERFORMS=10
CERRRBOT_CHECK_NEW_MESSAGES_CD_PERIOD=3
CERRRBOT_CHECK_DEPRECATED_MESSAGES_CD_PERIOD=60

## Default cache settings
CERRRBOT_CACHE_DEFAULT_DB=2
CERRRBOT_CACHE_DEFAULT_KEY_PREFIX="cerrrbot_cache"

## Notifications settings
CERRRBOT_NOTIFICATIONS_DB=3
CERRRBOT_NOTIFICATIONS_CACHE_KEY_PREFIX="cerrrbot_notification"
CERRRBOT_CHECK_NOTIFICATIONS_CD_PERIOD=10

# MongoDB settings
CERRRBOT_MONGO_HOST=cerrrbot_mongodb_dev
CERRRBOT_MONGO_PORT=27018
CERRRBOT_MONGO_DB_NAME=cerrrbot_dev

# Redis settings
CERRRBOT_REDIS_HOST=cerrrbot_redis_dev
CERRRBOT_REDIS_PORT=6378

## Celery settings
CERRRBOT_CELERY_BROKER_DB=0
CERRRBOT_CELERY_BACKEND_DB=1

# Docker files settings
DOCKERFILE_PATH=./docker/Dockerfile
ENV_FILE=../.env

APP_IMAGE_NAME=cerrrbot_app_dev
APP_INSTANCE_CONTAINER_NAME=app-bot-instance-dev
APP_CELERY_WORKER_CONTAINER_NAME=app-celery-worker-dev
APP_CONTAINER_VOLUME_DATA_DIR_PATH=./appdata/cerrrbot_app/data
DATA_DIR_PATH=/home/app/data

#CERRRBOT_DATA_ROOT=/home/app/data/
CERRRBOT_REDIS_CONTAINER_NAME=cerrrbot-redis-dev
CERRRBOT_MONGO_CONTAINER_NAME=cerrrbot-mongodb-dev
CERRRBOT_MONGO_CONTAINER_VOLUME_DATA_DIR_PATH=../appdata/mongodb